body{
    font-family: "Hiragino Kaku Gothic Pro", sans-serif, HelveticaNeue;
    color: #333333;
}

.prtfolio-sub-section{
    background-color: #333333;
}

.creater-info__name-wrapper .face-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}

.creater-info__name-wrapper .name{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.35;
    color: white;
}

.creater-info__name-wrapper .job{
    font-size: 13px;
    line-height: 1.35;
    color: white;
}

.creater-info__sub-info .intro-text{
    font-size: 13px;
    line-height: 2.0;
    color: white;
}

.creater-info__sub-info .hobby-text{
    font-size: 13px;
    line-height: 2.0;
    color: white;
}

.creater-info__sub-info .sns-text{
    font-size: 13px;
    line-height: 2.0;
    color: white;
}

.work-content__title .title-large{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.8;
}

.work-content__title .title-small{
    font-size: 12px;
    line-height: 2.0;
}

.item__img{
    width: 240px;
    height: 180px;
    object-fit: cover;
}

.item__name{
    font-size: 13px;
    line-height: 2.0;
}